/* ### CUSTOM PROPERTIES ### */

:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);

  --ff-work-sans: "Work Sans", sans-serif;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul[class] {
  list-style: none;
}

button[class] {
  border: none;
  background-color: inherit;
}

/* ### UTILITIES ### */

.hide {
  display: none;
}

/* ### GENERAL STYLING ### */

body {
  background-color: var(--purple-100);
  font-family: var(--ff-work-sans);
  font-weight: var(--fw-400);
  font-size: 1rem;
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 1.5;
}

h1,
h2 {
  color: var(--purple-950);
  line-height: 1.1;
}

h1 {
  font-weight: var(--fw-700);
  font-size: 2.225rem;
}

h2 {
  font-weight: var(--fw-600);
  font-size: 1.025rem;
}

p {
  color: var(--purple-600);
  font-size: 0.875rem;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5rem;
}

/* ### FAQ ACCORDION ### */

article.faq-section {
  background-color: var(--white);
  padding: 1.8rem 1.8rem 1rem;
  border-radius: 0.5rem;
}

.faq-section h1 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.star-icon-container {
  width: 25px;
  height: auto;
}

/* .faq__accordion-list {
  margin-top: 1rem;
} */

.faq__accordion-list li {
  padding-block: 1rem;
}

.faq__accordion-list > * + * {
  border-top: 1px solid var(--purple-100);
}

.question-container {
  display: flex;
  align-items: center;
}

.question-container h2 {
  margin-right: auto;
}

.question-container .accordion-btn {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.question {
  flex-basis: 80%;
}

.answer-container {
  margin-top: 1.6rem;
}
